.image {
	background-image: url(/Ironhack_web_dev_2022/lab-css-recipes-clone/apple-pie/images/apple-pie.jpg);
	height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 5em;
    width: 84.7%;
    margin: 0;
    border: 0px;
}

.header {
	padding-top: 130px;
	color: white;
	font-size: 80px;
	text-align: center;
    position: relative;
}